@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Orbitron", sans-serif;
  overflow-x: hidden;
  /* @apply bg-[url('https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80')] bg-cover bg-fixed; */
  /* cursor: none; */
}

::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
